<template>
  <div class="column">

    <!-- Oils for superfatting -->
    <custom-section>
      <!-- Title-->
      <template slot="title">
        <span class="text-h6">
          {{ $t('oilsSection.title') }}
          <q-btn round flat icon="add" color="accent" size="sm" @click="addOilDialog = true"/>
        </span>
      </template>

      <!-- Add oil dialog -->
      <oil-picker-dialog v-model="addOilDialog" @selected="addOil"/>

      <!-- Oils overview dialog -->
      <oil-details-dialog v-model="showOilDialog.open" :oilId="showOilDialog.oilId"/>

      <!-- Empty message -->
      <empty v-if="data.oils.length === 0" :text="$t('oilsSection.emptyMessage')"/>

      <!-- Oils items -->
      <div
        v-else
        >
        <div
          v-for="(item, idx) in data.oils"
          :key="idx"
          class="row items-center q-mt-xs"
          >

          <q-btn
            flat
            round
            size="sm"
            color="accent"
            icon="delete"
            @click="deleteOil(idx)"
            />

          <q-btn flat @click="showOilDetails(item.oil.id)">{{ item.oil.name }}</q-btn>

          <input-percentage
            class="q-ml-xs"
            :value="item.percentage"
            @input="updateOilPercentage(idx, $event)"
            />
        </div>

        <span class="text-caption">{{ $t('oilsSection.superfatting', { value: superfatting }) }}</span>
      </div>
    </custom-section>

    <!-- Other products -->
    <custom-section class="q-mt-lg">
      <!-- Title-->
      <template slot="title">
        <span class="text-h6">
          {{ $t('othersSection.title') }}
          <q-btn round flat icon="add" color="accent" size="sm" @click="insertListItem('others', {name: '', percentage: 0})"/>
        </span>
      </template>

      <!-- Empty message -->
      <empty v-if="data.others.length === 0" :text="$t('othersSection.emptyMessage')"/>

      <!-- Addition items -->
      <div
        v-else
        v-for="(product, idx) in data.others"
        :key="idx"
        class="row items-center q-mt-xs"
        >

        <q-btn
          flat
          round
          size="sm"
          color="accent"
          icon="delete"
          @click="deleteAddition(idx)"
          />

        <q-input
          outlined
          dense
          debounce="500"
          :value="product.name"
          :label="$t('name')"
          @input="updateAdditionName(idx, $event)"
          />

        <input-percentage
          class="q-ml-xs"
          :value="product.percentage"
          @input="updateAdditionPercentage(idx, $event)"
          />

      </div>
    </custom-section>

  </div>
</template>

<script>
import WizardPane from 'src/tools/WizardPane'

import InputPercentage from 'components/InputPercentage'
import OilPickerDialog from 'components/OilPickerDialog'
import OilDetailsDialog from 'components/OilDetailsDialog'

export default {
  name: 'AdditionsPane',

  mixins: [WizardPane],

  components: { InputPercentage, OilPickerDialog, OilDetailsDialog },

  data () {
    return {
      addOilDialog: false,
      showOilDialog: {
        open: false,
        oilId: null
      }
    }
  },

  computed: {
    superfatting () {
      return this.data.oils.reduce((acc, { percentage }) => acc + percentage, 0)
    }
  },

  methods: {

    showOilDetails (oilId) {
      this.showOilDialog.oilId = oilId
      this.showOilDialog.open = true
    },

    addOil (oil) {
      this.insertListItem('oils', { oil, percentage: 0 })
    },

    updateOilPercentage (idx, value) {
      this.updateListItem('oils', idx, Object.assign({}, this.data.oils[idx], { percentage: parseFloat(value) }))
    },

    deleteOil (idx) {
      this.$q.dialog({
        title: this.$t('deleteDialog.title'),
        message: this.$t('deleteDialog.message', { name: this.data.oils[idx].oil.name }),
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.deleteListItem('oils', idx)
      })
    },

    updateAdditionName (idx, value) {
      this.updateListItem('others', idx, Object.assign({}, this.data.others[idx], { name: value }))
    },

    updateAdditionPercentage (idx, value) {
      this.updateListItem('others', idx, Object.assign({}, this.data.others[idx], { percentage: parseFloat(value) }))
    },

    deleteAddition (idx) {
      this.$q.dialog({
        title: this.$t('deleteDialog.title'),
        message: this.$t('deleteDialog.message', { name: this.data.others[idx].name }),
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.deleteListItem('others', idx)
      })
    }

  }
}
</script>

<i18n>
en:
  percentage: Percentage
  oilsSection:
    title: Superfatting
    emptyMessage: Add oils for superfatting here
    superfatting: 'Total superfatting: {value}%'
  othersSection:
    title: Other products
    emptyMessage: Add other products by oils weight percentage here
  deleteDialog:
    title: Confirm
    message: Do you want to remove '{name}' ?

fr:
  percentage: Pourcentage
  oilsSection:
    title: Surgraissage
    emptyMessage: Ajouter ici les huiles pour surgraissage
    superfatting: 'Surgraissage total: {value}%'
  othersSection:
    title: Autres produits
    emptyMessage: Ajouter ici d'autres produits en pourcentage du poids des huiles
  deleteDialog:
    title: Confirmer
    message: Voulez vous supprimer '{name}' ?
</i18n>
