<template>
  <div>

    <!-- Receipe editor -->
    <custom-section>
      <template slot="title">
        <span class="text-h6">
          {{ $t('oils') }}
          <q-btn round flat icon="add" color="accent" size="sm" @click="addOilDialog = true"/>
        </span>
      </template>

      <empty v-if="data.oils.length === 0" :text="$t('empty')"/>
      <div v-else>
        <receipe-item
          v-for="(item, idx) in data.oils"
          :key="idx"
          :item="item"
          :locked="locks[idx]"
          :preUpdateHook="onPreSliderUpdate(idx)"
          @delete="deleteOil(idx)"
          @toggleLock="toggleLock(idx)"
          @updated="updateRatios(idx, $event)"
          @clicked="showOilDetails(item.oil.id)"
          />
      </div>
    </custom-section>

    <!-- Receipe analysis and reports -->
    <custom-section v-if="data.oils.length > 0" :title="$t('properties')" class="q-mt-md">
      <div class="flex row justify-evenly">
        <soap-qualities-chart :composition="composition"/>
        <fatty-acids-chart :composition="composition"/>
      </div>
    </custom-section>

    <!-- Add oil dialog -->
    <oil-picker-dialog v-model="addOilDialog" @selected="addOil"/>

    <!-- Oils overview dialog -->
    <oil-details-dialog v-model="showOilDialog.open" :oilId="showOilDialog.oilId"/>

  </div>
</template>

<script>
import Vue from 'vue'

import WizardPane from 'src/tools/WizardPane'
import FattyAcidsChart from 'components/FattyAcidsChart'
import SoapQualitiesChart from 'components/SoapQualitiesChart'
import OilPickerDialog from 'components/OilPickerDialog'
import OilDetailsDialog from 'components/OilDetailsDialog'
import ReceipeItem from './ReceipeItem'

export default {
  name: 'CompositorPane',

  mixins: [WizardPane],

  components: {
    ReceipeItem,
    OilPickerDialog,
    OilDetailsDialog,
    FattyAcidsChart,
    SoapQualitiesChart
  },

  data () {
    return {
      addOilDialog: false,
      showOilDialog: {
        open: false,
        oilId: null
      },
      locks: []
    }
  },

  computed: {
    composition: function () {
      const receipe = this.data.oils
      return this.$store.getters['base/fattyAcids'].reduce((comp, { name }) => {
        comp[name] = receipe.reduce((acc, { oil, ratio }) => {
          return acc + (oil[name] * ratio / 100)
        }, 0)

        return comp
      }, {})
    }
  },

  methods: {

    showOilDetails (oilId) {
      this.showOilDialog.oilId = oilId
      this.showOilDialog.open = true
    },

    toggleLock (idx) {
      Vue.set(this.locks, idx, !this.locks[idx])
    },

    addOil (oil) {
      const ratio = this.data.oils.length === 0 ? 100 : 0
      this.insertListItem('oils', { oil, ratio: ratio })
      this.locks.push(false)
    },

    deleteOil (oilIdx) {
      this.$q.dialog({
        title: this.$t('deleteDialog.title'),
        message: this.$t('deleteDialog.message'),
        cancel: true,
        persistent: true
      }).onOk(() => {
        const oils = this.cloneRatios()
        this.computeRatios(oils, oilIdx, 0)
        oils.splice(oilIdx, 1)
        this.updateField('oils', oils)
        Vue.delete(this.locks, oilIdx)
      })
    },

    onPreSliderUpdate (idx) {
      return (model, old) => {
        // Early escape when (if) called with no change
        if (model === old) {
          return model
        }

        // Compute the amount available
        const { up, down } = this.data.oils.reduce((acc, { ratio }, localIdx) => {
          if (localIdx !== idx && !this.locks[localIdx]) {
            acc.up = acc.up + ratio
            acc.down = acc.down + (100 - ratio)
          }

          return acc
        }, { up: 0, down: 0 })

        // Compute the final update taking into account the contraints
        const diff = model - old
        if (diff > 0) {
          return diff > up ? old + up : model
        } else if (diff < 0) {
          return Math.abs(diff) > down ? old - down : model
        }
      }
    },

    cloneRatios () {
      return this.data.oils.map(item => Object.assign({}, item))
    },

    updateRatios (idx, value) {
      if (typeof value === 'string') {
        value = parseFloat(value)
      }

      if (isNaN(value) || typeof value === 'undefined') {
        value = 0
      }

      if (value > 100) {
        value = 100
      } else if (value < 0) {
        value = 0
      }

      const oils = this.cloneRatios()
      this.computeRatios(oils, idx, value)
      this.updateField('oils', oils)
    },

    computeRatios (oils, idx, value) {
      oils[idx].ratio = value

      // One pass computation of remaining proportions to split between other oils
      // and previous proportion of all of the other oils
      const { remains, others, indexes } = oils.reduce((acc, { ratio }, localIdx) => {
        // If index is currently modified or is locked, remove its ratio from remaining
        if (localIdx === idx || this.locks[localIdx]) {
          acc.remains = acc.remains - ratio
        }

        // If its another oil and not locked, add its ratio to others
        if (!this.locks[localIdx] && localIdx !== idx) {
          acc.others = acc.others + ratio
          acc.indexes.push(localIdx)
        }

        return acc
      }, { remains: 100, others: 0, indexes: [] })

      // Update other oils
      indexes.forEach(localIdx => {
        if (others === 0) {
          oils[localIdx].ratio = Math.round(remains / indexes.length)
        } else {
          oils[localIdx].ratio = Math.round(remains * oils[localIdx].ratio / others)
        }
      })

      // Compute total and fix rounding errors
      const total = oils.reduce((acc, { ratio }) => acc + ratio, 0)
      const error = 100 - total

      if (error !== 0) {
        // Fix the error by updating the largest unlocked ratio
        const fixIdx = indexes.reduce((acc, localIdx) => {
          if (acc === -1) {
            return localIdx
          } else if (error > 0 && oils[localIdx].ratio < oils[acc].ratio) {
            return localIdx
          } else if (error < 0 && oils[localIdx].ratio > oils[acc].ratio) {
            return localIdx
          } else {
            return acc
          }
        }, -1)

        if (fixIdx >= 0) {
          oils[fixIdx].ratio = oils[fixIdx].ratio + error
        }
      }
    }

  }

}
</script>

<i18n>
en:
  empty: No data for now, try adding an oil
  deleteDialog:
    title: Confirm
    message: Do you want to delete this oil from the receipe ?

fr:
  empty: Aucune donnée pour le moment, essayer d'ajouter une huile
  deleteDialog:
    title: Confirmer
    message: Voulez vous supprimer cette huile de la recette ?
</i18n>
