<template>
  <q-layout view="hHh lpr lFf">
    <q-header elevated>
      <q-bar v-if="$q.electron" class="q-electron-drag">
        <q-icon name="laptop_chromebook" />
        <div>{{ $t('appName') }}</div>

        <q-space />

        <q-btn dense flat icon="minimize" @click="minimize" />
        <q-btn dense flat icon="crop_square" @click="maximize" />
        <q-btn dense flat icon="close" @click="closeApp" />
      </q-bar>

      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="close"
          @click="$emit('close')"
        />

        <q-toolbar-title>
          {{ title }}
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-page-container class="flex">
      <q-page class="grow q-px-md">
        <slot></slot>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'DialogLayout',

  props: {
    title: String
  },

  methods: {

    minimize () {
      if (process.env.MODE === 'electron') {
        this.$q.electron.remote.BrowserWindow.getFocusedWindow().minimize()
      }
    },

    maximize () {
      if (process.env.MODE === 'electron') {
        const win = this.$q.electron.remote.BrowserWindow.getFocusedWindow()

        if (win.isMaximized()) {
          win.unmaximize()
        } else {
          win.maximize()
        }
      }
    },

    closeApp () {
      if (process.env.MODE === 'electron') {
        this.$q.electron.remote.BrowserWindow.getFocusedWindow().close()
      }
    }
  }
}
</script>
