<template>
  <q-layout view="hHh lpr lFf">
    <q-header elevated>
      <q-bar v-if="$q.electron" class="q-electron-drag">
        <q-icon name="laptop_chromebook" />
        <div>{{ $t('appName') }}</div>

        <q-space />

        <q-btn dense flat icon="minimize" @click="minimize" />
        <q-btn dense flat icon="crop_square" @click="maximize" />
        <q-btn dense flat icon="close" @click="closeApp" />
      </q-bar>

      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          class="lt-md"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>
          <portal-target name="toolbarTitle">{{ this.$t('appName')}}</portal-target>
        </q-toolbar-title>

        <portal-target name="toolbarButtons"/>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      mini-to-overlay
      :mini="miniState"
      @mouseover="miniState = false"
      @mouseout="miniState = true"
      content-class="bg-grey-1"
    >
      <q-list class="column fit">
        <NavigationLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
          @click="navigateTo(link)"
        />
        <div class="grow"/>
        <q-separator style="max-height: 1px"/>
        <NavigationLink v-bind="settingsLink" @click="navigateTo(settingsLink)"/>
      </q-list>
    </q-drawer>

    <q-page-container class="flex">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import NavigationLink from 'components/NavigationLink'

export default {
  name: 'MainLayout',

  components: {
    NavigationLink
  },

  data () {
    return {
      leftDrawerOpen: false,
      miniState: true,
      settingsLink: {
        title: this.$t('settings'),
        icon: 'settings',
        link: '/settings'
      },
      essentialLinks: [
        {
          title: this.$t('oils'),
          icon: 'mdi-water',
          link: '/oils'
        },
        {
          title: this.$t('receipes'),
          icon: 'receipt',
          link: '/receipes',
          action: {
            icon: 'add',
            handler: () => this.$router.push('/receipe/new')
          }
        },
        {
          title: this.$t('batches'),
          icon: 'mdi-cube',
          link: '/batches'
        }
      ]
    }
  },

  methods: {
    navigateTo (navLink) {
      this.$router.push(navLink.link)
    },

    minimize () {
      if (process.env.MODE === 'electron') {
        this.$q.electron.remote.BrowserWindow.getFocusedWindow().minimize()
      }
    },

    maximize () {
      if (process.env.MODE === 'electron') {
        const win = this.$q.electron.remote.BrowserWindow.getFocusedWindow()

        if (win.isMaximized()) {
          win.unmaximize()
        } else {
          win.maximize()
        }
      }
    },

    closeApp () {
      if (process.env.MODE === 'electron') {
        this.$q.electron.remote.BrowserWindow.getFocusedWindow().close()
      }
    }
  }
}
</script>
